*.~
*.old
*.bak
*.orig

.*
*.o
*.o.*

modules.builtin

*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

.gitignore
!.gitignore
!.mailmap
.mailmap

out/
abi/
art/
bionuc/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
frameworks/
hardware/
libcore/
libnativehelper/
ndk/
packages/
pdk/
prebuilts/
sdk/
system/
tools/
vendor/
